#all{height: 710px;width: 1000px;margin: 20px auto}
#work{width: 1000px;height: 70px;}
.logo{height: 100px; margin-left: 30px;padding:0px;}
.head{width: 100%;height: 110px;}
.body{width:100%;height: 500px;background: orange;}
.laft_body{width: 30%;height: 100%;background: darkcyan;float: left;}
.mode{width: 100%;height: 20%;border: 1px;border:0px;}     								 /*有5个 用来包含input*/
.button{width:100px;height:40px;margin:30px 100px;border:0px;}

#right_body{width: 70%;height: 100%;background-image: url(../img/TongZhi.jpg);float: left;display: none;}  /*加载css的时候会隐藏,加载js释放     js第8行*/
#right_body div {width: 700px;height: 500px;background: red;display: none;}


.foot{width: 100%;height: 100px;background: khaki;}
.active{width: 100%;height: 100%;background: red;}      /*被选中的 div 的class变成active*/



